<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<title>TICI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">

	<!-- NEW -->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">

	<!-- This is the mountain CSS template -->
	<link rel="stylesheet" type="text/css" href="static/css/mountain.css">

</head>

<header>
</header>

<body>
  <!-- Set blue background -->
  <div class="bg">

  <!-- SOURCE CODE SIGN IN : https://codepen.io/stack-findover/pen/OJRvPQv-->
  <!-- SOURCE CODE MOUNTAIN: https://codepen.io/Christopherallen/pen/Clajw-->

    <!-- box-root  -> box-sizing: border-box; -->
    <!-- flex-flex -> display:flex; -->
    <div class="box-root flex-flex padding-top--64" style="flex-grow: 3;">
      <!-- z-index keeps frame on top -->
      <div class="back-white" style="z-index: 9; width:50%; margin: auto; padding-bottom: 64px">
        <div style="background: white; border-radius: 4px; box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;">
          <div class="padding-horizontal--48">

			<form class="contact2-form validate-form" action="/" method="POST">

              <div style="text-align:center">
                <img class="tici-logo" src="./static/images/tici_logo.svg" alt="Swissmedic Logo"><br>
	          </div>


			  <div style="text-align:center">
				<img src="./static/images/tici_diagram_v3.svg" alt="Swissmedic Logo" width="100%"><br>
              </div>

  			  <div class="container-contact2-form-btn">
				<div  class="wrap-contact2-form-btn">
					<button type="submit" class="btn btn-outline-primary" >Go back to main page</button>
				</div>
			</div>

		    </form>

            </div>
        </div>
      </div>
    </div>

  </div>

  <div>
    <div class="mountain">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
	<div class="mountain-two">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
    <div class="mountain-three">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
	<div class="cloud"></div>
  </div>


</body>

<!--
<footer>
	Last Updated: 2021-07-02
</footer>
-->

</html>