<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<title>POCA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">

	<!-- NEW -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<!-- up NEW -->


</head>

<header>
</header>

<body>

<main aria-live="polite" id="skipNavLinks">

	<div class="bg-contact2" style="background-image: url('static/images/bg-01.jpg');">
	<div class="container-contact2">
	<div class="wrap-contact2">

		<form class="contact2-form validate-form" action="/" method="POST">

			<div style="text-align:center">
				<img src="./static/swissmedic_logo_2.jpg" alt="Swissmedic Logo"><br>
				<h1>POCA</h1>
			</div>

			<div style="text-align:center">
				<img src="./static/images/poca_diagram.png" alt="Swissmedic Logo" width="100%"><br>
			</div>

			<div class="container-contact2-form-btn">
				<div  class="wrap-contact2-form-btn">
					<button type="submit" class="btn btn-outline-primary" >Go back to main page</button>
				</div>
			</div>
		</form>

	</div>
	</div>
	</div>

	<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/vendor/select2/select2.min.js"></script>
	<script src="static/js/main.js"></script>
	<!--===============================================================================================-->
    <script>
		window.addEventListener("pageshow", () => {
    	// update hidden input field
        });
	</script>


</main>

</body>

<footer>
	Last Updated: 2021-07-13
</footer>

</html>