<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<title>TICI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">

	<!-- NEW -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">

	<!-- This is the mountain CSS template -->
	<link rel="stylesheet" type="text/css" href="static/css/mountain.css">

    <!-- Integration interactive Table -->
    <script type="text/javascript" src="static\js\jquery-3.6.0.js"></script>
	<script type="text/javascript" src="static\js\jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static\js\dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="static\js\jszip.min.js"></script>
    <script type="text/javascript" src="static\js\pdfmake.min.js"></script>
    <script type="text/javascript" src="static\js\vfs_fonts.js"></script>
    <script type="text/javascript" src="static\js\buttons.html5.min.js"></script>
    <script type="text/javascript" src="static\js\buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.min.css"/>




</head>

<header>
</header>

<body>
  <!-- Set blue background -->
  <div class="bg">

  <!-- SOURCE CODE SIGN IN : https://codepen.io/stack-findover/pen/OJRvPQv-->
  <!-- SOURCE CODE MOUNTAIN: https://codepen.io/Christopherallen/pen/Clajw-->

    <div class="box-root flex-flex padding-top--64" style="flex-grow: 3;">
      <div class="back-white" style="z-index: 9; width:75%; margin: auto; padding-bottom: 64px">
        <div style="background: white; border-radius: 4px; box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;">
          <div class="padding-horizontal--48">

              <!-- INTERNAL CONTENT WHITE FORM -->

			  <!-- LOGO SWISSMEDIC -->
		   	  <div style="text-align:center;">
			      <img src="./static/swissmedic_logo_2.jpg" alt="Swissmedic Logo">
			  </div>

			  <div style="text-align:center;">
			      <b>Phonetic and Orthographic Computer Analysis</b><br>
			      <small><i>openPOCA </i></small>
			  </div><br>

			<!-- TABLE RESULTS -->
			<div><h3>Search</h3></div><br>
			<div>The name you looked for was: <b>{{ searchterm }}</b></div>
			<div>The threshold you set up was: <b>{{ threshold }}</b></div>

			<br>

            <!-- TABLE RESULTS -->
			<div><h3>Results</h3></div><br>

			<table id="example" class="display" cellspacing="0" width="100%">
			    <thead>
				    <tr >
					    <th class="th-lg">Name</th>
						<th class="th-lg">Grammatik</th>
						<th class="th-sm">Phonetik</th>
						<th class="th-sm">Kombiniert</th>
						<th class="th-sm">Datensatz</th>
					</tr>
				</thead>
				<tbody>
				{% for match in data%}
				<tr >
				    <td >{{ match[0] }}</td>
				    <td >{{ match[1] }}</td>
					<td >{{ match[2] }}</td>
					<td >{{ match[4] }}</td>
					<td >{{ match[3] }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

			<script>
			$(document).ready(function() {
			    $('#example').DataTable( {
			        dom: 'Bfrtip',
					buttons: [
							'copy', 'csv', 'excel', 'pdf', 'print'
					]
				} );
			} );
			</script>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- MOUNTAINS IN BACKGROUND -->
  <div>
    <div class="mountain">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
	<div class="mountain-two">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
    <div class="mountain-three">
      <div class="mountain-top">
        <div class="mountain-cap-1"></div>
        <div class="mountain-cap-2"></div>
        <div class="mountain-cap-3"></div>
      </div>
    </div>
	<div class="cloud"></div>
  </div>


</body>

<!--
<footer>
	Last Updated: 2021-07-02
</footer>
-->

</html>